body {
  font-family: 'Roboto', sans-serif;
}

/*  Nikhil Raj A, Stack Overflow, 2/05/2017
    https://stackoverflow.com/questions/21174344/bootstrap-navbar-overtop-carousel */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}

.navtext {
  letter-spacing: 2px;
  font-size: 25px;
}

#header {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
#carte {
  margin: 5%;
}
a {
  font-size: 40px;
  margin: 10px;
}
#aang {
  font-size: 50px;
  margin: 20px;
}
.barnav {
  margin: 40px;
}
