body {
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

/* #fond {
  background-image: url(./img/avatar.jpg);
  background-size: 100% 150%;
  color: black;
} */

/* .titre {
  margin-bottom: 300px;
  text-align: center;
} */

/*  Nikhil Raj A, Stack Overflow, 2/05/2017
    https://stackoverflow.com/questions/21174344/bootstrap-navbar-overtop-carousel */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}

.navtext {
  letter-spacing: 2px;
  font-size: 25px;
}

/*  Rob Howells, Stack Overflow, 13/04/2016
    https://stackoverflow.com/questions/36586316/re-positioning-bootstrap-carousel-caption */
.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-15%);
}

/* #header {
  color: white;
  display: flex;
  justify-content: space-between;
} */

.title {
  font-size: 65px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.slide {
  letter-spacing: 5px;
  line-height: 30px;
}

a {
  font-size: 40px;
  margin: 10px;
}

#about {
  margin-top: 50px;
  margin-bottom: 50px;
}

.abouttitle {
  font-size: 30px;
  letter-spacing: 3px;
}

#aboutsubtitle {
  font-size: 20px;
  letter-spacing: 2px;
}

#abouttext {
  text-align: justify;
}

.imageborder {
  border-right: 5px dashed orange;
  border-top: 5px dashed orange;
  padding-right: 15px;
  padding-top: 15px;
  border-left: transparent;
  border-bottom: transparent;
}

#about button {
  background-color: orange;
  border: none;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

#about button:hover {
  background-color: rgb(252, 216, 149);
}

#about a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

#experience {
  background-color: orange;
  padding-bottom: 35px;
}

.experiencetitle {
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(255, 255, 255);
}

#experience .col {
  text-align: justify;
}

#experience .header {
  background-color: rgb(255, 255, 255);
  box-shadow: tomato;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#experience .col {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

#experience a {
  font-size: 20px;
}

#experience a:hover {
  color: rgb(252, 216, 149);
}

.centre {
  text-align: center;
}

.paragraphe {
  width: 80%;
  margin-left: 15px;
}

#faitsamusants {
  margin-top: 4%;
  margin-left: 12%;
  text-align: center;
  margin-right: 12%;
  background-color: rgb(255, 255, 255);
  border: orange;
  border-style: dashed;
}


.progress {
  background-color: white;
  width: 50%;
}

.progressbar {
  color: black;
  border-radius: none;
}

.progresstext {
  color: black;
}

.diverstitle {
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: orange;
}


#listfaits {
  margin-bottom: 3%;
  text-align: left;
  font-size: x-large;
  list-style-type: square;
}
